<h1>test</h1>
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509281373149-e957c6296406?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=856&q=80);">
  <div class="container">
    <h1><strong>List of </strong>  movies</h1>
  </div>
</div>

<div class="card-movie-grid">
  <% @movies.each do |movie| %>
  <%= link_to movie_path(movie) do %>
  <div class="card-movie">
    <%= cl_image_tag movie.photo.key %>
    <div class="card-movie-infos">
      <div class="card-movie-title">
        <h2><%= movie.title %></h2>
      </div>
      <div>
      <h2><%= movie.imdb_rating %><i class="fa fa-star text-warning"></i></h2>
      <h2><%= movie.price %>€</h2>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<%# , height: 300, width: 400, crop: :fill %>
