<div class="container-sell">
  <div class="filmstrip">
    <h1>Sell your movie !</h1>
  </div>
  <div class="form-container">
    <%= simple_form_for [@movie] do |f| %>
    <%= f.input :title, placeholder: "Avatar"  %>
    <br>
    <%= f.input :genre, placeholder: "Action" %>
    <br>
    <%= f.input :year, placeholder: "2009" %>
    <br>
    <%= f.input :imdb_rating, placeholder: "7.8" %>
    <br>
    <%= f.input :description, placeholder: "A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home." %>
    <br>
    <%= f.input :director, placeholder: "James Cameron" %>
    <br>
    <%= f.input :price, placeholder: "5.99" %>
    <br>
    <%= f.input :photo, as: :file %>
    <br>
    <div class="submit-button-container">
      <%= f.button :submit, class:"btn btn-ghost" %>
    </div>
    <% end %>
  </div>
</div>

