
<div class="card-product">
    <%= cl_image_tag(@movie.photo.key) %>
    <div class="card-product-infos">
      <div class="title">
        <h1><%= @movie.title %></h1>
      </div>
        <!-- MOVIE YEAR -->
        <div class="card-date">
          <p><strong> Year : </strong><%= @movie.year %></p>
        </div>
        <!-- MOVIE CATEGORY -->
        <div class="card-genre">
          <p><strong> Category : </strong> <%= @movie.genre %></p>
        </div>
        <!-- MOVIE DIRECTOR -->
        <div class="card-director">
          <p><strong> Director : </strong><%= @movie.director %></p>
        </div>
        <!-- MOVIE DESCRIPTION -->
        <div class="card-description">
          <p><strong> Description : </strong><%= @movie.description %></p>
        </div>
        <!-- MOVIE RATING -->
        <div class="card-rating">
          <p><strong> Rating : </strong><%= @movie.imdb_rating %></p>
        </div>
        <!-- MOVIE PRICE -->
        <div class="card-price">
          <p><strong> Price : </strong><%= @movie.price %></p>
        </div>
        <!-- MOVIE USER -->
        <div class="card-owner">
          <% if user_signed_in? %>
            <%= cl_image_tag (current_user.photo.key), class:"avatar avatar-card", id:"navbarDropdown", data: {'bs-toggle': "dropdown"}, aria: {'haspopup': "true"}, aria: {'expanded': "false"} %>
          <% else %>
            <img class="avatar avatar-card-show" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar.png" />
          <% end %>
          <p><strong> Owner : </strong><%= @movie.user.first_name%></p>
        </div>
    </div>
      <div class="btn">
        <% if @movie.user == current_user %>
          <%= link_to 'Edit', edit_movie_path, class: "btn btn-ghost"%>
          <%= link_to "Delete", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-ghost" %>
        <% end %>
        <button id="sweet-alert-demo" class="btn btn-ghost"> Purchase </button>
      </div>
    </div>
  </div>
