<div class="card-product">
    <%= cl_image_tag(@movie.photo.key) %>
    <div class="card-product-infos">
      <div class="title">
        <h1><%= @movie.title %></h1>
      </div>
        <!-- MOVIE YEAR -->
        <div class="card-date">
          <p><strong> Year : </strong><%= @movie.year %></p>
        </div>
        <!-- MOVIE CATEGORY -->
        <div class="card-genre">
          <p><strong> Category : </strong> <%= @movie.genre %></p>
        </div>
        <!-- MOVIE DIRECTOR -->
        <div class="card-director">
          <p><strong> Director : </strong><%= @movie.director %></p>
        </div>
        <!-- MOVIE DESCRIPTION -->
        <div class="card-description">
          <p><strong> Description : </strong><%= @movie.description %></p>
        </div>
        <!-- MOVIE RATING -->
        <div class="card-rating">
          <p><strong> Rating : </strong><%= @movie.imdb_rating %></p>
        </div>
        <!-- MOVIE PRICE -->
        <div class="card-price">
          <p><strong> Price : </strong>$<%= @movie.price%></p>
        </div>
        <!-- MOVIE USER -->
        <div class="card-owner">
          <p><strong> Owner : </strong><%= @movie.user.first_name%> <%= @movie.user.last_name%></p>
          <% unless @movie.user.average_rating == "-"%>
            <p class="rating-owner"><strong> Owner rate's : </strong><%= @movie.user.average_rating%></p>
          <% end %>
            <div class="owner">
            <%= cl_image_tag (@movie.user.photo.key), class:"owner owner-card-show" %>
            </div>
        </div>
    </div>
      <div class="btn">
        <% if @movie.user == current_user %>
          <%= link_to 'Edit ✏️', edit_movie_path, class: "btn btn-ghost"%>
            <button id="sweet-alert-delete-movie" class="btn btn-ghost"> Delete ❌ </button>
            <%= link_to movie_path(@movie) , method: :delete, id: "delete-link", class: "hidden" do %>
          <% end %>
        <% else %>
        <button id="sweet-alert-purchase-movie" class="btn btn-ghost"> Purchase ✅ </button>
        <%= link_to "", movie_purchases_path(@movie), method: :post, id: "add-link", class: "hidden" %>
        <% end %>
      </div>
    </div>
  </div>
