<div class="container">
  <div class="tab-container">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="bookings" class="tab-underlined active">Bookings</a>
    </li>
    <li>
      <a href="requests" class="tab-underlined">Requests</a>
    </li>
  </ul>
  </div>
  <% purchases = Purchase.where(user: current_user) %>
  <% purchases.reverse_each do |purchase| %>
    <div class="card-purchase <%= 'activation' if purchase.status == 'Pending'  %> mb-2">
    <%= cl_image_tag purchase.movie.photo.key %>
    <div class="card-purchase-infos">
    <div class="card-purchase-details">
      <h2><%= purchase.movie.title %></h2>
      <p>Sold by <%= purchase.movie.user.first_name %> <%= purchase.movie.user.last_name %></p>
      <p> <strong>Price: </strong>$<%= purchase.movie.price %></p>
    </div>
    <% if purchase.status == 'Pending' %>
      <div class="btn-status-pending">Pending 😎 </div>
    <% elsif purchase.status == "Accepted" %>
      <div>
      <div class="btn-status-accepted">Accepted 😉 </div>
      <% if purchase.rating.nil? %>
      <p class="rating-spacing">Rate <%= purchase.movie.user.first_name %></p>
      <div class="rating rating-spacing">
      <span><%= link_to '☆', rate_purchase_path(purchase, rating: '5'), method: :patch, id: 'star_1' %></span>
      <span><%= link_to '☆', rate_purchase_path(purchase, rating: '4'), method: :patch, id: 'star_2' %></span>
      <span><%= link_to '☆', rate_purchase_path(purchase, rating: '3'), method: :patch, id: 'star_3' %></span>
      <span><%= link_to '☆', rate_purchase_path(purchase, rating: '2'), method: :patch, id: 'star_4' %></span>
      <span><%= link_to '☆', rate_purchase_path(purchase, rating: '1'), method: :patch, id: 'star_5' %></span>
      </div>
      <% elsif purchase.rating == 1.0 %>
      <div class="rating rating-spacing">
      <span>☆</span>☆<span>☆</span>☆<span>&#x2605</span>
      </div>
      <% elsif purchase.rating == 2.0 %>
      <div class="rating rating-spacing">
      <span>☆</span>☆<span>☆</span>&#x2605<span>&#x2605</span>
      </div>
      <% elsif purchase.rating == 3.0 %>
      <div class="rating rating-spacing">
      <span>☆</span>☆<span>&#x2605</span>&#x2605<span>&#x2605</span>
      </div>
      <% elsif purchase.rating == 4.0 %>
      <div class="rating rating-spacing">
      <span>☆</span>&#x2605<span>&#x2605</span>&#x2605<span>&#x2605</span>
      </div>
      <% else %>
      <div class="rating rating-spacing">
      <span>&#x2605</span>&#x2605<span>&#x2605</span>&#x2605<span>&#x2605</span>
      </div>
      <% end %>
      </div>
    <% else %>
      <div class="btn-status-declined">Declined 😢 </div>
    <% end %>
    </div>
  </div>
  <% end %>
</div>
