<div class="card-movie-grid">
  <% @movies.each do |movie| %>
  <%= link_to movie_path(movie) do %>
  <div class="card-movie">
    <span class="zoom">
      <%= cl_image_tag movie.photo.key %>
    </span>
    <div class="card-movie-genre"><%= movie.genre %></div>

    <div class="avatar-card-details">
      <%= cl_image_tag (movie.user.photo.key), class:"avatar avatar-card" %>
    </div>
    <div class="card-movie-title">
      <div>
        <h2 id="movie-title"><%= movie.title %></h2>
      </div>
      <div class="card-movie-infos">
        <div>
          <h3 id="imdb"><%= movie.imdb_rating %><i class="fa fa-star text-warning"></i></h3>
        </div>
        <div>
          <h3 id="price">$<%= movie.price %></h3>
        </div>
      </div>
    </div>

  </div>
  <% end %>
  <% end %>
</div>
