 <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id='navbar'>
      <div class="container-fluid">
        <div id="home-logo">
        <%= link_to :root, class:"navbar-brand" do %>
          <%= image_tag("logo.png", style: 'height:50px;width:auto;') %>
        <% end %>
        </div>
      </div>
      <div class="search">
        <%= form_tag movies_path,class:"simple_form search", autocomplete:"off", method: :get do %>
          <div class="search-form-control form-group">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a movie"
            %>
            <button name="button" type="submit" class="btn btn-flat" id="search-btn">
              <i class="fa fa-search"></i>
            </button>
          </div>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Buy a movie", :movies, class:"nav-link", id: "buy-btn" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sell a movie", new_movie_path, class:"nav-link", id: "sell-btn" %>
          </li>
          <li class="nav-item dropdown">
            <% if user_signed_in? %>
              <%= cl_image_tag (current_user.photo.key), class:"avatar dropdown-toggle", id:"navbarDropdown", data: {'bs-toggle': "dropdown"}, aria: {'haspopup': "true"}, aria: {'expanded': "false"}, width: 40, height: 40, object: {'fit': 'cover'}, crop: :thumb, gravity: :face %>
            <% else %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar.png" />
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if !user_signed_in? %>
                <%= link_to "Login", new_user_session_path, class:"dropdown-item" %>
                <%= link_to "Register", new_user_registration_path, class:"dropdown-item" %>
              <% else %>
                <%= link_to "My movies", my_movies_path, class:"dropdown-item" %>
                <%= link_to "My bookings", bookings_purchases_path, class:"dropdown-item" %>
                <%= link_to "My requests", requests_purchases_path, class:"dropdown-item" %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
